<!DOCTYPE html>

<html>

<head>
	<!-- <link rel="stylesheet" href="./css/styles.css">-->
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/images/icon2use.jpg">
	<script src="/js/app.js"></script>
	<title>Help</title>
</head>

<body>	
<div class="container">	 
<div id="boxWhite">
	<header>
		<h1>{{>header}}</h1>
	</header>
</div>

	<div id="boxWhite">
		<p style="text-align: left">{{content1}} 
	</div>
</div>
	<footer>{{>footer}}</footer>

</body>

</html>
